@use '/src/styles/helpers/' as *;

.slide {
  margin: 0 2rem rem(50) 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__btn {
    width: rem(100);
    height: rem(40);
  }
}
