@use '/src/styles/helpers/' as *;

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: fluid(350, 300);
  height: fluid(400, 300);
  border: rem(2) solid var(--l);
  border-radius: rem(15);
  background-color: var(--color-dark-blue);
  color: var(--color-light);
  padding: 2rem;
  text-align: center;
  margin: 5rem;
  box-shadow: rem(5) rem(10) rem(15) var(--color-dark-blue);

  .block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1.3rem;

    &__word {
      width: rem(250);
      height: rem(40);
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--color-light);
      color: var(--color-dark-10);
      border: var(--border);
      box-shadow: inset 0 3px 5px var(--color-dark-blue);
      font-family: 'OpenSans-Regular';
      letter-spacing: rem(0.5);
      @include fluid-text(26, 20);
    }

    &__translate {
      font-family: 'OpenSans-Light';
      font-weight: lighter;
      letter-spacing: rem(0.8);

      @include fluid-text(20, 16);
    }

    &__transcript {
      font-family: 'OpenSans-Light';
      font-weight: lighter;
      letter-spacing: rem(1);

      @include fluid-text(20, 16);
    }

    &__btn {
      margin-block: 1.5rem;
      height: rem(40);
      width: auto;
    }
  }

  &__footer {
    height: rem(100);
  }
}
