@use '/src/styles/helpers/' as *;

.slide {
  margin: rem(100) 2rem rem(50) 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;

  border: var(--border);

  &__btn {
    width: rem(100);
    height: rem(40);
  }
}
