@font-face {
  font-family: 'Lemon-Regular';
  src: url('./fonts/Lemon-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('./fonts/NunitoSans-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('./fonts/NunitoSans-Light.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('./fonts/NunitoSans-Italic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('./fonts/NunitoSans-Bold.woff2') format('woff2');
  font-display: swap;
}
