@use '../helpers/' as *;

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  row-gap: 0.5rem;
  width: fluid(350, 300);
  height: fluid(400, 300);
  border: rem(2) solid var(--l);
  border-radius: rem(15);
  background-color: var(--color-dark-blue);
  color: var(--color-light);
  padding: 2rem;
  text-align: center;
  margin: 5rem;
  box-shadow: rem(5) rem(10) rem(15) var(--color-dark-blue);

  .block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 0.5rem;

    &__word {
      display: flex;
      justify-content: center;
      background-color: var(--color-light);
      color: var(--color-dark-10);
      width: rem(200);
      border: var(--border);
      box-shadow: inset 0 3px 5px var(--color-dark-blue);
      font-family: 'NunitoSans-Bold';
      letter-spacing: rem(0.5);

      @include fluid-text(28, 20);
    }

    &__translate {
      font-family: 'NunitoSans-Regular';
      letter-spacing: rem(0.5);

      @include fluid-text(28, 16);
    }

    &__transcript {
      font-family: 'NunitoSans-Light';
      font-weight: lighter;
      letter-spacing: rem(1);

      @include fluid-text(20, 16);
    }

    &__btn {
      margin-top: 1rem;
      height: rem(30);
      width: rem(150);
    }
  }

  &__footer {
    height: rem(100);
  }
}
