@use '../helpers/' as *;

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: fluid(400, 300);
  height: fluid(450, 350);
  border: var(--border);
  border-radius: rem(5);
  background: var(--gradient);
  color: var(--color-light);
  padding: 2rem;
  text-align: center;
  margin: 5rem;
  box-shadow: rem(5) rem(10) rem(15) var(--color-dark-blue);

  &__word {
    margin-bottom: 1rem;
    border: var(--border);
    border-radius: rem(10);
    box-shadow: rem(5) rem(-0) rem(5) var(--color-dark-blue);
  }

  &__transcript {
    font-style: italic;
  }

  &__footer {
    display: flex;

    justify-content: space-around;
  }
}
