@use '../helpers/' as *;

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: fluid(800, 600);
  height: fluid(450, 350);
  border: rem(2) solid var(--l);
  border-radius: rem(5);
  background-color: var(--color-dark-blue);
  color: var(--color-light);
  padding: 2rem;
  text-align: center;
  margin: 5rem;
  box-shadow: rem(5) rem(10) rem(15) var(--color-dark-blue);

  &__word {
    display: flex;
    justify-content: center;
    background-color: var(--color-light);
    color: var(--color-dark-10);
    width: rem(300);
    margin-bottom: 1rem;
    border: var(--border);
    border-radius: rem(10);
    box-shadow: rem(5) rem(-0) rem(5) var(--color-dark-blue);
    font-family: 'NunitoSans-Bold';
    letter-spacing: rem(0.5);

    @include fluid-text(35, 25);
  }

  &__translate {
    font-family: 'NunitoSans-Regular';
    letter-spacing: rem(0.5);

    @include fluid-text(28, 16);
  }

  &__transcript {
    font-family: 'NunitoSans-Light';
    letter-spacing: rem(0.6);

    @include fluid-text(20, 16);
  }

  &__footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
  }
}
