@use '../helpers/' as *;

.btnOrange {
  display: flex;
  justify-content: center;
  background-color: var(--color-orange);
  color: var(--color-light);
  border: none;
  border-radius: rem(10);
  padding: rem(12);
  white-space: nowrap;
  align-items: center;
  width: auto;
  font-family: 'NunitoSans-Bold';
  letter-spacing: rem(0.5);

  &:hover {
    color: var(--color-light);
    background-color: transparent;
    background: var(--gradient);

    transition: var(--transition-duration);
  }
}

.disabled {
  background-color: rgb(131, 129, 129);
  cursor: not-allowed;

  &:hover {
    background: rgb(131, 129, 129);
  }
}
