@use '../helpers/' as *;

.preview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  align-items: center;
  justify-items: end;
  margin: rem(40) rem(140) 0 rem(140);

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    align-items: start;

    &_title {
      color: var(--color-dark-10);
      @include fluid-text(44, 34);
    }

    &_text {
      font-weight: 300;
      border-left: var(--border);
      padding-left: 0.5rem;

      @include fluid-text(18, 16);
    }
  }

  &__groupBtn {
    display: flex;
    column-gap: rem(18);
    margin-top: 1rem;

    &_btn {
      display: flex;
      max-width: fluid(300, 250);
      height: rem(46);
      font-size: rem(18);
    }
  }
  &__picture {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img {
    width: rem(326);

    height: rem(371);
  }
}
