@use '../helpers/' as *;
.btnWhite {
  display: flex;
  justify-content: center;
  background-color: var(--color-light);
  border: var(--border);
  color: var(--color-dark-10);
  border-radius: rem(10);
  padding: rem(12);
  white-space: nowrap;
  align-items: center;
  min-width: rem(200);
  font-family: 'NunitoSans-Bold';
  letter-spacing: rem(0.5);

  &:hover {
    color: var(--color-light);
    background-color: transparent;
    background: var(--gradient);

    transition: var(--transition-duration);
  }
}
