@use '../helpers/' as *;

.item {
  display: grid;
  grid-template-columns: 1fr 10%;
  justify-content: space-around;
  align-items: center;
  border-bottom: var(--border);
  padding: rem(10);

  &__box {
    display: flex;
    flex-direction: column;

    @include fluid-text(16, 14);

    &_word {
      margin: 0;

      font-weight: 600;
    }

    &_translate {
      font-style: italic;
    }
  }

  &__change {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.5rem;
    justify-items: center;
    cursor: pointer;

    &_edit {
      width: rem(30);
      height: rem(30);
      padding: rem(5);
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: rem(5);
      color: white;
      background-color: var(--color-dark-blue);

      &:hover {
        transform: scale(1.1);
        transition: var(--transition-duration);
      }
    }

    &_delete {
      width: rem(30);
      height: rem(30);
      padding: rem(5);
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: rem(5);
      color: white;
      background-color: var(--color-red);

      &:hover {
        transform: scale(1.1);
        transition: var(--transition-duration);
      }
    }
  }
}
