.App {
  text-align: center;
  display: flex;
  justify-content: space-around;
  background-color: rgba(70, 1, 1, 0.938);
}

.super-hero-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.super-hero-card {
  width: 330px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  row-gap: 0.5rem;
  margin: 2rem;
  padding: 2rem 1.5rem;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  color: white;
  box-shadow: 10px -8px 20px rgba(112, 112, 111, 0.682);
  transition: transform 0.6s ease-out, box-shadow 0.6s ease-out;
}
.super-hero-card:hover {
  transform: scale(1.03);
}

.super-hero-card__name {
  font-size: 1.7rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 550;
  border-bottom: solid 1px rgb(234, 17, 17);
}
h2 {
  font-size: 1.2rem;
  padding-block: 0.5rem;
}

.super-hero-card__details p {
  font-size: 0.9rem;
  font-style: italic;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  color: rgb(202, 197, 197);
}

.super-hero-card__image {
  width: 100%;
  height: auto;
  overflow: hidden;
  border: solid 1px rgb(170, 168, 168);
  margin-top: 1rem;
}
